.secdere {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.derediv1 {
    margin: 10px;
}

.derediv2 {
    width: 30%;
    margin: 10px;
}

.titdere {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.pdere {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dereimg {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .dereimg {
        margin: 10px;
        width: 400px;
        height: 340px
    }  

}

@media (max-width: 480px) {
    .derediv1 {
        margin-top: 8px;
        margin-left: 25px;
    }

    .derediv2 {
        margin-left: 25px;
        width: 65%;
    }
    
    .dereimg {
        width: 325px;
        height: 250px;
    }

    .secdere {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        margin-left: -10px;
    }

    .titdere {
        font-size: small;
    }

    .pdere {
        font-size: small;
    }

    .footerb {
        margin-top: 215px;
    }
}