@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ita');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: rgb(173, 109, 233);
    color: rgb(255, 255, 113);
    padding: 1rem;
}

body {
    background-color: rgb(239, 222, 255);
    font-family: unset;
    min-height: 100vh;
}

div {
    align-items: center;
    display: block;
    margin: 1.5rem;

}

.c1 {
    border:solid purple;
    display: flex;
    gap: 1rem;
}

.foto1, .foto2, .foto3, .img3 {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    width: 800px; 
    height: auto;
}

.descricao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(104, 9, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px; 
    
}

.container {
    max-width: 1200px;
    margin-right: 0 auto;
    padding: 20px;
    border: solid purple;
}



































footer {
    text-align: center;
    margin: 0;
    padding: 2rem;
    background-color:  rgb(173, 109, 233);
    color: rgb(255, 255, 113);
}
