.subtitfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

aside {
    margin: auto;
    gap: 20px;
}

.divlv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.divani {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
    border: 5px solid black;
}


.imgsfi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 395px;
    height: 600px;
    cursor: pointer;
}

.divpre {
    width: auto;
    max-width: 400px;
}

.divmi {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divmar {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divdive {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}

.divden {
    width: auto;
    max-width: 400px;
    cursor: pointer;
}


.descdive {
    display: flex;
    text-align: center;
}