.secmira {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.miradiv1 {
    margin: 10px;
}

.miradiv2 {
    width: 30%;
    margin: 10px;
}

.titmira {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pmira {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.miraimg {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .miraimg {
        width: 410px;
        height: 350px;
    }  
}

@media (max-width: 480px) {
    .miradiv1 {
        margin-top: -65px;
        margin-left: 75px;
    }

    .miradiv2 {
        margin-left: 75px;
        width: 65%;
    }
    
    .miraimg {
        width: 325px;
        height: 250px;
    }

    .secmira {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: -50px;
    }

    .titmira {
        font-size: small;
    }

    .pmira {
        font-size: small;
    }

    .footerb {
        margin-top: 666px;
    }
}