.secdiver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.diverdiv1 {
    margin: 10px;
}

.diverdiv2 {
    width: 30%;
    margin: 10px;
}

.titdiver {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdiver {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.diverimg {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .diverimg {
        width: 420px;
        height: 350px;
    }
}

@media (max-width: 480px) {
    .diverdiv1 {
        margin-top: 8px;
        margin-left: 25px;
    }

    .diverdiv2 {
        margin-left: 25px;
        width: 65%;
    }
    
    .diverimg {
        width: 325px;
        height: 250px;
    }

    .secdiver {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        margin-left: -10px;
    }

    .titdiver {
        font-size: small;
    }

    .pdiver {
        font-size: small;
    }

    .footerb {
        margin-bottom: -345px;
    }
}